.shownav{
    display: block;
    background-color: white;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}

.shownav{
    height: o.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
}