* {
    font-family: "Barlow', sans-serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/white-background.png);

}

header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    padding: 0 25px;
    transition: 0.3s;
}

.logo a {
    display: block;
}

.logo a img {
    display: block;
    width: 20em;
    text-align: left;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}

ul li {
    list-style-type: none;
}

ul li a {
    color: white;
    text-decoration: none;
    font-family: "Barlow', sans-serif";
    display: block;
    padding: 40px 25px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;
}


ul>li>a:hover,
ul>li>a.active {
    color: grey;
    background-color: white;
    border-right: 2px solid grey;
}

ul>li>a:hover {
    padding: 35px 25px 45px 25px;
}

ul>li>a:hover::before,
ul>li>a.active::before {
    display: block;
}

/*hamburger icon*/
.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
    margin-right: 20px;
    /*margin for space around element*/ 
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background-color: white;
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger::before {
    top: -10px;
    width: 20px;
}

.hamburger::after {
    top: 10px;
    width: 25px;
}

.toggle-menu{
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger, .toggle-menu{
    display: none; 

}

nav input:checked ~ .hamburger{
    background: transparent;

}

nav input:checked ~ .hamburger::before{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

nav input:checked ~ .hamburger::after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}
nav > input:checked ~ .menu {
    right: 0;
    box-shadow: -20px 0 40px rgba(70, 66, 66, 0.2);
}
@media screen and (max-width:992px) {
    .hamburger, .toggle-menu{
        display: block;
    }
    header{
        padding: 10px 20px;
    }
    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        background-color: grey;
        width: 300px;
        height: 100%;
        padding-top: 65px;

    }

    .menu > li {
        width: 100%;
    }

    .menu li a 
    .menu li a:hover{
        padding:30px;
        font-size: 24px;
        box-shadow: 0 1px 0 black inset;

    }
}
main > p{
    padding: 10em;
    color: white;
    background-color: pink;
    align-items: center;
}

.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typewriter{
    width: 100ch;
    animation: typing 3s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    text-align: center;
    color: black;
}

@keyframes typing{
    from{
        width: 0;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

footer{
    background-color: grey;
    color: white;
    text-align: center;
}

/*apple like animation*/



img{
    width: 15em;
    height: 6em;
    
}
.placeholder{
   background-color: pink;
   color: white;
   display: block;
   float: left;
   width: 50%;
   height: 100vh;
   flex-direction: column;

}
.placeholder-repeat{
    background-color: rgb(223, 119, 223);
    color: white;
    display: block;
    width: 50%;
    float: left;
    display: block;
    height: 100vh;
    flex-direction: column;
}
.placeholder img{
    height: 700px;
    width: 500px;
}

.placeholder-repeat img{
    height: 400px;
    width: 250px;
}

main > h1{
    text-align: center;
    font-family: "Barlow', sans-serif";
    padding:30px;
    color: grey;
}

main > h2{
    text-align: center;
    font-family: "Barlow', sans-serif";
    color: grey;
}

.box{
    background-color: pink;
    padding:100px;
    margin: 100px;
    color: white;
}

.in-box{
align-items: center;
}

main > input{
    padding: 6px;
    font-size: 14px;
    border-radius: 4px;
}
main > input{
    width: 240px;
    display: inline-block;
}

.reportbox{
    background-color: white;
    color: rgb(126, 118, 118);
    padding: 10px;
    margin: 10px;
    font-family: "Barlow', sans-serif";

}
/* GO BACK TO FIRST
body > header > .logo > ul > li {
    
}



/*
body{
    background-color: rgb(238, 228, 228);
}

 .wrapper{
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding:20px, 0;
    transition: all 0.5s ease;
   

}

.wrapper .navbar > .profile{
    margin-bottom: 30px;
    text-align: center;
   
}

.wrapper .navbar .profile img{
    display: block;
    width: 110px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
}

.wrapper > .navbar > .profile > h3{
    font-family: 'Barlow', sans-serif;
    color: white;
    margin: 10px 0 5px;
}

.wrapper > .navbar > .profile > p{
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}

ul > li > a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 30px;
    color: white;
    font-size: 16px;
    position: relative;
    font-family:'Barlow', sans-serif ;
}

/*link hover

ul > li > a:hover,
ul > li > a.active{
color: grey;
background-color: white;
border-right: 2px solid grey;

}

ul > li > a:hover::before,
ul > li > a.active::before{
    display: block;

}

/*adding hamburger icon

 .wrapper > .navbar > .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}
/*
.section > .top_navbar{
    background-color: grey;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

/*manually creating hamburger icon
body{
    display: grid;
    justify-content:center ;
    align-items: center;
    height: 100vh;
    background-image: url(./images/background.png);
}
*/