header {
    background-color: plum;
    color: white;
    padding: 20px;
    grid-area: header;
}

nav{
    background-color: burlywood;
    grid-area: nav;
}

main{
    background-color: sandybrown;
    color: white;
    grid-area: main;
}

