header{
    background-color: black;
    color: white;
    padding: 20px;
    grid-area: header
}
.logo{
    cursor: pointer;
}
nav{
    background-color: rgb(185, 185, 185);
    color: white;
    grid-area: nav;
}


    nav > ul > li > a{
        color: black;
        text-decoration: none;
        line-height: 1;
        background-image:linear-gradient(to bottom, transparent 50%, #F0A6A3 50%);
        background-size: 100% 200%;
    
}
nav > ul > li > a:hover{
    background-position: 100% 50%;
    transition: background-position 200ms cubic-bezier(.58,.91,.78,1.43);
   /*original code: transition: background-position 200ms ease-in-out (this code is a simple ease in and out but i changed the timing and how it transitions via the cubic bezier ;*/
   background-repeat: no-repeat;
}

nav > ul > li > a:hover{
    background-position: 100% 100%;
    /*background colour comes in full when cursor hovers over links*/
}

nav ul{
   list-style: none;
   display: grid;
   grid-template-columns: 25% 25% 25% 25% ;
   text-align: center;
}

nav > ul > li{
    position: relative;
}

nav > ul > li > ul{
    position: absolute;
    display: none;
    width: 100%;
    background-color: rgb(245, 206, 212);
    padding: 0;
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    color: white;
}

nav > ul> li:hover ul{
    opacity: 0.7;
    pointer-events: auto;
   
}



main{
    background-color: white;
    grid-area: main;
    color: black ;
    background-image: url(/images/backgtoundforwebsite.png);
}

aside{
    background-color:salmon;
    grid-area: aside;
}

footer{
    background-color: royalblue;
    color: white;
    grid-area: footer;
}
body{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
                        "nav nav nav"
                        "main main aside"
                        "footer footer footer";
}