


header {
    background-color: #fff;
    color: #000;
    padding: 20px;
    position: relative;
    grid-area: header;
   
}
/*.container{
    font-family: 'Barlow', sans-serif;
    width: 100%;
     min-height: 100vh;
     padding-left: 8;
     padding-right: 8;
     box-sizing: border-box;
     overflow: hidden;
     align-items: center;
     justify-content: center;
     

}
*/
.logo{
    width: 10em;
    cursor: pointer;
    margin: 30px;
     
}

.intro{
    font-family: 'Barlow', sans-serif;
    text-align: center;
}
.mybutton{
    float: right;

}

.wrapper{
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro{
    width: 100ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1em;
}

@keyframes typing{
    from{
        width: 0;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

.intro2{
    font-family: 'Barlow', sans-serif;
    text-align: center;
}


nav {
    background-color: white;
    grid-area: nav;
    font-family: 'Barlow', sans-serif;
    color: white;
}


nav > ul > li > a{
    color: black;
    text-decoration: none;
    line-height: 1;
    background-image:linear-gradient(to bottom, transparent 50%, #F0A6A3 50%);
    background-size: 100% 200%;
}

nav > ul > li > a:hover{
    background-position: 100% 50%;
    transition: background-position 200ms cubic-bezier(.58,.91,.78,1.43);
   /*original code: transition: background-position 200ms ease-in-out (this code is a simple ease in and out but i changed the timing and how it transitions via the cubic bezier ;*/
   background-repeat: no-repeat;
}

nav > ul > li > a:hover{
    background-position: 100% 100%;
    /*background colour comes in full when cursor hovers over links*/
}

main {
    background-color:#ffff ;
    color: white;
    grid-area: main;
}

aside {
    background-color:#0C8075;
    grid-area: aside;
    color: white;
    font-family: 'Barlow', sans-serif;
}

footer {
    background-color: cornflowerblue;
    color: white;
    grid-area: footer;
}

body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer";
}

nav ul{
    display: flex;
    justify-content: space-around;
}